<html>
  <nav class="navbar navbar-light bg-light">
  <%= link_to "Home",  restaurants_path, class: "navbar-brand"%>
  <%= link_to "create tasks",  new_restaurant_path , class:"mr-sm-2 navbar-brand"%>
</nav>
  <h1 class ="text-center">Add tasks</h1>
  <%= render 'form'  %>
</html>